/* *Clash Display Font by Indian Type Foundry under the ITF license. */
@import url('clash.css');

:root{
  --black: #000;
  --white: #fff;
  --gray: #ddd;
  --gray-hover: rgba(221,221,221, 0.1);

  --border-1: 1px solid;
  --border-2: 2px solid;
  --border-radius: 0.25rem;
  --border-alpha: rgba(221, 221, 221, 0.5);
}

[data-theme="light"]{
  --filled: var(--black);
  --background: #f9f5f1;
  --container: var(--white);
  --placeholder: #7f7f7f;
  --secondary: #ffff42;
  --accent: #af78fe;
  --success: #9ee7ad;
  --danger: #ea9794;
}

[data-theme="dark"]{
  --filled: var(--gray);
  --background: #161717;
  --container: var(--black);
  --placeholder: #7f7f7f;
  --secondary: #ffff42;
  --accent: #af78fe;
  --success: #9ee7ad;
  --danger: #ea9794;
}

h1 {font-size: 3.053rem; font-weight: 550;}

h2 {font-size: 2.442rem; font-weight: 550;}

h3 {font-size: 1.954rem; font-weight: 550;}

h4 {font-size: 1.563rem; font-weight: 500;}

h5 {font-size: 1.250rem;}

small {font-size: 0.800rem;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'ClashDisplay-Variable', fallback, sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05rem;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--background);
  color: var(--filled);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

i{
  font-size: 1.25rem;
}

.btn{
  cursor: pointer;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.btn{
  background-color: var(--background);
  color: var(--filled);
  padding: 0.75rem 1rem;
  transition-property: transform, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: var(--border-2) var(--filled);
  border-radius: var(--border-radius);
}

.btn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:not(:disabled):hover{
  box-shadow: 0.25rem 0.25rem 0 var(--filled);
  transform: translate(-0.25rem, -0.25rem); 
}

.btn-primary{
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white); 
}

.btn-primary:hover{
  background-color: var(--accent);
  border: 2px solid var(--filled);
  color: var(--black);
}

.btn-accent{
  background-color: var(--accent);
  color: var(--black);
}

.btn-danger{
  background-color: var(--danger);
  color: var(--black);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  margin-bottom: 2rem;
  border: none;
}

legend{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

legend label{
  cursor: pointer;
  font-weight: 450;
}

input,
textarea,
select{
  padding: 0.75rem 1rem;
  background-color: var(--container);
  color: var(--filled);
  border: var(--border-1) var(--filled);
  border-radius: var(--border-radius);
}

input::placeholder,
textarea::placeholder,
select::placeholder{
  color: var(--placeholder);
}

input:focus,
textarea:focus,
select:focus{
  border-color: var(--accent);
  outline: var(--border-1) var(--accent);
}

fieldset textarea{
  resize: none;
  height: 11.25rem;
}

fieldset select{
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

fieldset i{
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

fieldset .image-upload{
  border: 1px dashed var(--filled);
  background-color: var(--container);
}

a.link{
  color: var(--black);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  text-decoration: underline;
}

.link:hover{
  color: var(--accent);
}

.icon{
  font-size: 1.25rem;
}


/* *Table Styles */
.table-container{
  width: 100%;
  overflow-x: auto;
}

table{
  width: 100%;
  min-width: 950px;
  table-layout: auto;
  border-collapse: seperate;
  border-spacing: 0;
  background-color: var(--container);
  border-top: var(--border-2) var(--filled);
  border-left: var(--border-2) var(--filled);
  border-right: var(--border-2) var(--filled);
  border-radius: var(--border-radius);
}

th, td{
  padding: 1rem;
  text-align: left;
  white-space: nowrap;
}

th {
  font-weight: 550;
  border-bottom: var(--border-2) var(--filled);
}

td{
  border-bottom: var(--border-2) var(--filled);
}

td img{
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: var(--border-2) var(--filled);
  margin-right: 0.8rem;
  vertical-align: middle;
}

td.amount{
  font-weight: 550;
}

td.action{
  text-align: center;
}